button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--background-body-color);
    margin: 0;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
        @media screen and (max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}

a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}