:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --icon-teams-color: #AFB1B8;
    --footer-address-color: rgba(255, 255, 255, 0.6);
    --background-body-color: #FFFFFF;
    --background-hero-color: #C4C4C4;
    --background-teams-color: #F5F4FA;
    --background-footer-color: #2F303A;
    --border-color: #ECECEC;
    --portfolio-gallery-info-border-color: #EEEEEE;
    --hover-button-color: #188CE8;

}