.about.no-padding-top {
    padding-top: 0;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.about__list {
    display: flex;
}

.about__item:not(:last-child) {
    margin-right: 30px;
}

.about__item {
    position: relative;
}

.about__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
}