.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: var(--background-body-color);
    border-radius: 4px;
    padding: 40px;
    transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.close__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--background-body-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
        fill: var(--accent-color);
        }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.modal__label {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
    margin-bottom: 4px;
}

.modal-input__wrapper {
    position: relative;
}

.modal-input__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal__input {
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        border-color: var(--accent-color);
        }
}

.modal__input:hover+svg,
.modal__input:focus+svg {
    fill: var(--accent-color);
}

.modal-input__group:not(:last-child) {
    margin-bottom: 10px;
}

.modal__textarea {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    width: 100%;
    padding: 12px 16px;
    resize: vertical;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        border-color: var(--accent-color);
        }
}

.politic__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.politic__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
}

.check__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    margin-right: 7px;
}

.check__container svg {
    fill: transparent;
}

.politic__check:checked+label>span {
    border: none;
    background-color: var(--accent-color);
        & svg {
        fill: var(--primary-white-color);
        }
}

.politic__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 5px;
}

.modal-submit__btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 52px;
    margin: auto;
}