.footer {
    background: var(--background-footer-color);
    padding: 60px 0;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-address__wrap {
    display: inline-block;
}

.logo--light {
    display: block;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.address {
    font-style: normal;
}

.address__link {
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list {
    display: block;
}

.address__items:not(:last-child) {
    margin-bottom: 10px;
}

.address__mail,
.address__tel {
    color: var(--footer-address-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

.address__mail:hover,
.address__mail:focus {
    color: var(--accent-color);
}

.address__tel:hover,
.address__tel:focus {
    color: var(--accent-color);
}