header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.navigation {
    margin-left: auto;
    @media screen and (max-width:767px) {
    display: none;
    }
}

.navigation__list {
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
        @media screen and (min-width:1200px) {
        font-size: 26px;
        }
}

.logo--dark {
    color: var(--logo-color);
    padding: 26px 0;
        @media screen and (min-width:1200px) {
        padding: 16px 0;
        }
}
  
.logo-web {
    color: var(--accent-color);
}

.navigation__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    color: var(--primary-text-color);
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
}

.navigation__link.current {
    position: relative;
    color: var(--accent-color);
        &::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.contacts__list {
    display: flex;
    align-items: flex-start;
    // flex-direction: column;
    margin-left: auto;
    @media screen and (max-width:1199px) {
    flex-direction: column;
    }
    @media screen and (max-width:767px) {
    display: none;
    }

}

.icon__mail {
    fill: currentColor;
    margin-right: 10px;
}

.icon__tel {
    fill: currentColor;
    margin-right: 10px;
}

.contacts__mail, .contacts__tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
        @media screen and (min-width:1200px) {
        font-size: 14px;
        padding: 32px 0;
        }
}

.contacts__item:not(:last-child) {
    margin-bottom: 10px;
        @media screen and (min-width:1200px) {
        margin-right: 50px;
        margin-bottom: 0;
        }
}

.menu-open {
    @media screen and (min-width:768px) {
    display: none;
    }
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-color: var(--background-body-color);
    border: none;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 48px 40px;
    background-color: var(--background-body-color);
        @media screen and (min-width:768px) {
        display: none;
        }
        z-index: 1;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &.is-open {
        transform: translateX(0);
        }
}
    
.mob-navigation__item {
    margin-bottom: 32px;
}

.mob-navigation__link {
    font-size: 40px;
    line-height: 1.18;
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
}

.mob-contacts__item {
    margin-bottom: 32px;
}

.mob-contacts__tel {
    font-size: 34px;
    line-height: 1.18;
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
}

.mob-contacts__mail {
    font-size: 24px;
    line-height: 1.18;
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
}

.mob-soc__list {
    display: flex;
    margin-top: 64px;
    flex-wrap: wrap;
}

.mob-soc__item {
    margin-right: 10px;
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, .2);
        padding-right: 10px;    
}
}
.mob-soc__link {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.menu-close {
    @media screen and (min-width:768px) {
        display: none;
    }
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-color: var(--background-body-color);
    border: none;
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
}