.teams {
    background: var(--background-teams-color);
}

.teams__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 30px;
    
        @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
        }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.card-list__item {
    background: var(--background-body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 100%;
       
        @media screen and (min-width:768px) {
        width: calc((100% - 60px)/2);
        }

        @media screen and (min-width:1200px) {
        width: calc((100% - 120px)/4);
        }
}

.card-list__img {
    margin-bottom: 30px;
}

.card-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.card-list__info {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-text-color);
    margin-bottom: 16px;
}

.social__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list--teams {
    margin-bottom: 24px;
}

.social__items {
    width: 44px;
    height: 44px;
        &:not(:last-child) {
        margin-right: 10px;
        }
}

.social__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--icon-teams-color);
    background-color: var(--background-body-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        }
}

.icon {
    fill: currentColor;
}

